/* Estou usando bootstrap, mas se precisar, colocarei meu css aqui! */

* {
  font-size: 100%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
 }

html, body {
  height: 50%;
  margin: 0;
}

.vert-cent{
  margin-top: 25%;
}

.cent-form{
  margin-top: 15%;
}

.register-icon{
  margin-top: 35%;
  margin-left: 12%;
}

.register-logo{
  margin-top: 150px;
}

.login-logo{
  margin-top: 15%;
}

.data-table{
  margin-left: 13%;
}

.login-icon{
  margin-top: 13%;
  margin-left: 12%;
}

.chpass-icon{
  margin-top: 20%;
  margin-left: 12%;
}

.chpass-logo{
  margin-top: 200px;
}

.hori-cent{
  margin-left: 200px;
}

.init{
  text-align: center;
  margin-top: 120px;
}

.upper-footer{
  position: relative;
  margin-top: 50px;
}

.footer{
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  display: block;
  bottom: 0;
}