{% extends "base.html" %}

{% load rest_framework %}

{% load static %}

{% block title %}Register{% endblock title %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous">
</script>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
                <div class="col-6">
                        <div class="row register-icon">
                                <i class="fab fa-4x fa-wpforms"></i>
                        </div>
                        <div class="row register-logo">
                          <img src="{% static 'media/resh_log.png' %}" width="auto" height="auto "/>
                        </div>
                </div>
            
            
                <div class="col-6">
                <div class="cent-form">
                        <form action="{% url 'pages:register' %}" method="post" novalidate>
                                {% csrf_token %}
                                {% render_form serializer %}
                                <span id='message'></span><br>
                                <button type="submit" class="btn btn-default btn-success">Registrar</button>
                        </form>        
                </div>        
            </div>
        </div>
</div>

{% endblock %}